<template>
  <div class>
    <button
      @click="isOpen = !isOpen"
      class="relative z-10 block px-2 py-1 appearance-none focus:outline-none"
    >
      {{this.user.name}}
      <svg
        class="ml-1 inline w-2 h-auto"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="chevron-down"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"
        />
      </svg>
    </button>
    <button
      tabindex="-1"
      v-if="isOpen"
      @click="isOpen = false"
      class="fixed inset-0 w-full h-full bg-black opacity-25"
    ></button>
    <div v-if="isOpen" class="absolute right-0 py-2 mr-4 mt-2 w-48 bg-white rounded-lg shadow-md">
      <a class="block px-4 py-2 hover:bg-green-600 hover:text-white" href>Profile</a>
      <a
        class="block px-4 py-2 hover:bg-green-600 hover:text-white"
        onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();"
      >Logout</a>
    </div>

    <form id="logout-form" action="/logout" method="POST" style="display:none;">
      <input type="hidden" name="_token" : value="csrf" />
    </form>
  </div>
</template>

<script>
export default {
  props: ["user"],
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token]')
        .getAttribute("content"),
      isOpen: false
    };
  },
  created() {
    const handleEscape = e => {
      if (e.key === "Esc" || e.key === "Escape") {
        this.isOpen = false;
      }
    };
    document.addEventListener("keydown", handleEscape);

    this.$once("hook:beforeDestroy", () => {
      document.removeEventListener("keydown", handleEscape);
    });
  }
};
</script>